{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PopoPipo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav role="navigation">
            <ul>
                <li><a href="/">PopoPipo</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'post_create' %}">New Post</a></li>
                <li><a href="{% url 'index' %}">All Post </a></li>   
                <li><a href="#">Categories</a>
                <ul class="dropdown">
                    <li><a href="{% url 'vent_index' %}">Vent</a></li>
                    <li><a href="{% url 'info_index' %}">Info</a></li>
                    <li><a href="{% url 'help_index' %}">Help</a></li>
                </ul>
                </li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>

                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2019 PopoPipo &nbsp;</div>
    </footer>
    
    <script>
        function change() // no ';' here
            {
                var elem = document.getElementById("vote");
                if (elem.value=="Pipo") elem.value = "Popo";
                else elem.value = "Pipo";
            }
    </script>
</body>
</html>