#newPost {
    padding: 0 50px 50px 50px;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

#index-card {
    text-align-last: center;
    border: 3px double black;
}
    
#index-card:hover {
  box-shadow: 8px 8px 8px 5px #888888;
}