{% extends 'base.html' %}

{% block content %}
<h1>Help Posts</h1>
{% for post in posts %}
    <div class="card">
            <a href="{% url 'detail' post.id %}">
                <div class="card-content">
                    <span class="card-title">
                        {{post.title}}
                        <br> &nbsp; &nbsp; &nbsp;   
                        {{post.body}}
                    </span>
               </div>
            </a>
        </a>
    </div>
{% endfor %}
{% endblock %}