<!-- Do not display this image at the moment

POST: The properties for our post object. It has a few stuff to it.
post.title: The title of the post
post.categories: The category of the post
post.company: The company of the post
post.company_office_city: The city of the company
post.body: The text body of the post
post.created_on: The date the post was made
post.last_modified: The date the post was modified
post.blog_views: The number of views
post.flags: The number of flags
post.user: The user associated with the post. NOTE you can access properties of the owner of the post. 
    For example we can get the post owner id with post.user.id

COMMENT: The comment model
comment.body: The text body of the comment
comment.views: The views of the comment. Inhertied from the post
comment.created_on: The date the comment was created
comment.last_modified: The date the comment was last modified
comment.user: The owner of the comment. Passed the User model. Identical to post.user
comment.user_id: PLS DONT USE THIS. I DONT KNOW WHY BUT IT IS PASSED NULL EVERY TIME. I GOT AROUND THIS USING THE USER PROPERTY.
comment.post: The post of the comment. Passed the POST model

FORM: The form for submitting a comment
form.body: The text area for writing a comment. We need this to render the empty text area for the comment.
-->

{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.created_on }}</p>
<div class="card">
  <div class="card-content">
    <p><i class="fas fa-building"></i> {{post.company}}</p>
    <p><i class="fas fa-map-pin"></i> {{post.company_office_city}}</p>
    <p>{{ post.body | linebreaks }}</p>
    <p><i class="fas fa-eye" style="color: rgb(104, 208, 245)"></i> {{ post.blog_views }} <i class="fas fa-heart" style="color: rgb(235, 75, 89)"> {{post.votes.count  }}</i></p>
    {% if user_voted %}
        <form action='upVote?return_url={{ request.path }}' method='GET'>
            <button type="submit" id="vote" class="btn btn-danger">Popo</button>
        </form>
    {% else %}
         <form action='upVote?return_url={{ request.path }}' method='GET'>
            <button type="submit" id="vote" class="btn btn-success"> Pipo</button>
        </form>
    {% endif %}
    <br>
    {% if user.id == post.user.id%}
        <a href="{% url 'post_update' post.id %}" class="btn btn-success">Edit</a>
        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <br>
    <br>
    <form action="/post/{{ post.id }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>On {{comment.created_on.date }}&nbsp;</p>
    <p>{{ comment.body }}</p>
    {% if comment.user.id == user.id%}
        <a href="/post/comment/{{comment.id}}/update" class="edit btn btn-success">Edit Comment</a>
        <a href="{% url 'comment_delete' comment.id %}" class="delete btn btn-danger">Delete</a>
    {% endif %}
    <hr>
    {% endfor %}
</div>
{% endblock %}