{% extends 'base.html' %}
{% block content %}

<h1>{{ post.title }}</h1>

<div class="card">
  <div class="card-content">
    <p>{{ post.created_on }}</p>
    <p>{{ post.views }}</p>
    <p>POST ID: {{ post.id }}</p>
    <p>USER: {{ post.user.id }}</p>
    {% if user.id == post.user.id%}
    <a href="{% url 'post_update' post.id %}">Edit</a>
    <a href="{% url 'post_delete' post.id %}">Delete</a>
    {% endif %}
    <p>{{ post.body | linebreaks }}</p>
    <h3>Leave a comment:</h3>
    <form action="/post/{{ post.id }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.user }}
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>On {{comment.created_on.date }}&nbsp;</p>
    <p>AUTHOR: {{ comment.user.id }}</p>
    <p>CURRENT USER: {{user.id}}
    <p>{{ comment.body }}</p>
    {% if comment.user.id == user.id%}
        <a href="/post/comment/{{comment.id}}/update">Edit Comment</a>
        <a href="{% url 'comment_delete' comment.id %}">Delete</a>
    {% endif %}
    <hr>
    {% endfor %}
</div>

{% endblock %}