{% extends 'base.html' %}

<h1>Popodex</h1><br>
  <div class="container-fluid">
    <div class="row">
        {% for single_post in post%}
          <div class="col-sm-6">
            <a href="{% url 'detail' single_post.id %}">
                <div class="card" style="width: 27rem;">
                    <div class="card-body" id="index-card">
                        <h5 class="card-title text-center">{{single_post.title}}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{single_post.created_on}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if single_post.categories == 'V'%}
                                Vent
                            {% elif single_post.categories == 'H'%}
                                Help
                            {% else %}
                                Info
                            {% endif %}
                        </h6>
                        <p class="card-text">{{single_post.body}}</p>
                        <p><i class="fas fa-eye"></i> {{single_post.blog_views}} <i class="fas fa-heart"></i> {{single_post.votes.count}}</p>
                    </div>
                </div>
            </a>
            <br>
           </div>
        {% endfor %}
    </div>
  </div>  
{% endblock %}